<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCustomerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FindCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComplaintStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewComplaintStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateComplaintStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateComplaintStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCustomerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processComplaintServlet</servlet-name>
        <servlet-class>za.ac.tut.web.processComplaintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComplaintsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewComplaintsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkBalanceServlet</servlet-name>
        <servlet-class>za.ac.tut.web.checkBalanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transferFundsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.transferFundsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>depositFundsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.depositFundsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>withdrawFundsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.withdrawFundsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTransactionsHistoryServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewTransactionsHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveAccountTypeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RetrieveAccountTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCustomerServlet</servlet-name>
        <url-pattern>/FindCustomerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCustomerServlet</servlet-name>
        <url-pattern>/RemoveCustomerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processComplaintServlet</servlet-name>
        <url-pattern>/processComplaintServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComplaintsServlet</servlet-name>
        <url-pattern>/ViewComplaintsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkBalanceServlet</servlet-name>
        <url-pattern>/checkBalanceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transferFundsServlet</servlet-name>
        <url-pattern>/transferFundsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComplaintStatusServlet</servlet-name>
        <url-pattern>/ViewComplaintStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComplaintStatusServlet</servlet-name>
        <url-pattern>/UpdateComplaintStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewLoansServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewLoansServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewLoansServlet</servlet-name>
        <url-pattern>/ViewLoansServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateLoanStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateLoanStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLoanStatusServlet</servlet-name>
        <url-pattern>/UpdateLoanStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewTransactionsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewTransactionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTransactionsServlet</servlet-name>
        <url-pattern>/ViewTransactionsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>depositFundsServlet</servlet-name>
        <url-pattern>/depositFundsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>withdrawFundsServlet</servlet-name>
        <url-pattern>/withdrawFundsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTransactionsHistoryServlet</servlet-name>
        <url-pattern>/ViewTransactionsHistoryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveAccountTypeServlet</servlet-name>
        <url-pattern>/RetrieveAccountTypeServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
